<script>
  Liferay.Loader.require("https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js", function(Vue) {
    const vm = new Vue({
      el: '#jugLeadersApp',
      data: {
        people: []
      },
      mounted() {
        $.getJSON("/o/jug-rest/jug-leaders/", function(result) {
          vm.people = result;
        })
      }
    });

  }, function(error) {
    console.error(error)
  });
</script>

<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>

<h2 style="text-align: center">The JUG team</h2>

<div class="container" id="jugLeadersApp">
  <div v-cloak="">
    <div class="row" style="display: flex; margin: 50px 0px;" v-for="person in people">
      <div class="col col-sm-2">
        <img
          style="position: absolute;top: 0;bottom: 0;right: 0;margin: auto;" 
          v-bind:alt="person.name"
          v-bind:src="'/image/user_male_portrait?img_id=' + person.imageId + '&amp;img_id_token=' + person.imageUUID"
          />
      </div>
      <div class="col col-sm-10">
        <h3>{{ person.name }}</h3> {{ person.description }}
        <h5>Websites:</h5>
        <div v-for="website in person.websites">
          <span>{{ website.type }}:</span> <a v-link:href="website.url"> {{ website.url }} </a>
        </div>
      </div>
    </div>
  </div>
</div>
