.fragment_35274 [v-cloak] {
  display: none; 
}

.fragment_35274 .sticker-xl {
  height: 2.3em;  
  width: 2.3em;
}

.fragment_35274 .sticker-date {
  font-size: 12px;  
  font-weight: bold;
}

.fragment_35274 .h4 {
  padding: 2em; 
}